Repository melior/melius: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix, stylelint --fix

docs(project, nav-todos): add initial docs
  README.md
  libs/nav-tabs/README.md
Due: prettier --write

feat(nav-tabs): add initial nav tab components
  .vscode/settings.json
  apps/demo/nav-tabs/src/app/app.component.html
  apps/demo/nav-tabs/src/app/app.component.scss
  apps/demo/nav-tabs/src/app/app.component.ts
  apps/demo/nav-tabs/src/app/app.module.ts
  apps/demo/nav-tabs/src/styles.scss
  libs/nav-tabs/src/lib/nav-tabs.module.ts
  libs/nav-tabs/src/lib/tab-group/index.ts
  libs/nav-tabs/src/lib/tab-group/tab-group.component.html
  libs/nav-tabs/src/lib/tab-group/tab-group.component.scss
  libs/nav-tabs/src/lib/tab-group/tab-group.component.spec.ts
  libs/nav-tabs/src/lib/tab-group/tab-group.component.ts
  libs/nav-tabs/src/lib/tab/index.ts
  libs/nav-tabs/src/lib/tab/tab.component.html
  libs/nav-tabs/src/lib/tab/tab.component.scss
  libs/nav-tabs/src/lib/tab/tab.component.spec.ts
  libs/nav-tabs/src/lib/tab/tab.component.ts
  libs/nav-tabs/src/typings.d.ts
  libs/nav-tabs/tsconfig.json
  package.json
Due: prettier --write, tslint --fix, stylelint --fix

chore: remove prepare commit msg hook
  .huskyrc
Due: none

feat(sidenav): add initial sidenav component
  .vscode/extensions.json
  .vscode/settings.json
  angular.json
  apps/demo/nav-tabs/src/app/app.component.html
  apps/demo/nav-tabs/src/app/app.component.ts
  apps/demo/nav-tabs/src/app/app.module.ts
  apps/demo/nav-tabs/src/index.html
  apps/demo/nav-tabs/src/styles.scss
  libs/mat-sidenav/README.md
  libs/mat-sidenav/package.json
  libs/mat-sidenav/scss-bundle.config.json
  libs/mat-sidenav/src/mat-sidenav-theme.scss
  libs/sidenav/README.md
  libs/sidenav/jest.config.js
  libs/sidenav/ng-package.json
  libs/sidenav/package.json
  libs/sidenav/src/index.ts
  libs/sidenav/src/lib/sidenav-animations.ts
  libs/sidenav/src/lib/sidenav-state.model.ts
  libs/sidenav/src/lib/sidenav.component.html
  libs/sidenav/src/lib/sidenav.component.scss
  libs/sidenav/src/lib/sidenav.component.ts
  libs/sidenav/src/lib/sidenav.module.ts
  libs/sidenav/src/test-setup.ts
  libs/sidenav/tsconfig.json
  libs/sidenav/tsconfig.lib.json
  libs/sidenav/tsconfig.spec.json
  libs/sidenav/tslint.json
  nx.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write, tslint --fix, stylelint --fix

feat(sidenav): add sidenav open method
  README.md
  libs/docs/sidenav/src/lib/docs-sidenav.component.html
  libs/docs/sidenav/src/lib/docs-sidenav.module.ts
  libs/sidenav/src/lib/sidenav.component.ts
Due: prettier --write, tslint --fix

Path conditions:
  prettier --write: ((any of: *.ts) or (any of: *.scss)) or (any of: *.{html,js,json,md})
  tslint --fix: any of: *.ts
  stylelint --fix: any of: *.scss
